<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

<link rel="stylesheet" th:href="@{/css/lista-de-livros.css}">

<title>Lista de autores</title>
</head>
<body>

<div th:insert="~{fragmentos/botao-voltar :: botaoVoltar('/administrador/home')}" class="voltar" style="margin-bottom: 16px;"></div>

<div class="container">

		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; margin-bottom: 32px;">
		    <div class="container-fluid d-flex justify-content-center align-items-center">
		        <h3>Gerenciamento de autores</h3>
		    </div>
		</nav>

		
		<div class="row">
			<div class="col-12 text-end my-3 d-flex align-items-center justify-content-between">
				<form class="d-flex w-50" th:action="@{/autores/buscar}" method="post">
					<div class="input-group">
						<input type="text" class="form-control" name="autor"
							placeholder="Busque por um autor"
							style="margin-right: 5px; border-radius: 5px;" />
						<button class="btn btn-outline-success" id="buscar" type="submit">Buscar</button>
					</div>
				</form>

				<!-- Botão para abrir o modal -->
				<button type="button" class="btn btn-success" data-bs-toggle="modal"
					data-bs-target="#cadastroModal">Novo Autor</button>

				<a th:href="@{/autores/novo-autor}" id="novo" type="button"
				class="btn btn-success">Novo Autor</a>
			</div>
			
		</div>

		<!-- <div class="modal fade" id="cadastroModal" tabindex="-1"
			aria-labelledby="cadastroModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					Cabeçalho do Modal
					<div class="modal-header" id="modal-header-titulo">
						<h2 class="modal-title" id="cadastroModalLabel">Cadastrar Autor</h2>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>

					Corpo do Modal
					<div class="modal-body">

						Formulário
						<form th:action="@{/autores/salvar-autor}" th:object="${autor}"
							method="post">
							<div class="mb-3">
								<label for="nome" class="form-label">Nome</label> <input
									class="form-control" id="nome" name="nome" type="text"
									th:field="*{nome}" placeholder="Nome do autor"
									aria-label="default input example"> <span
									class="message" th:if="${#fields.hasErrors('nome')}"
									th:errors="*{nome}">Nome inválido</span>
							</div>
							<button type="submit" class="btn btn-primary w-100"
								id="botao-salvar">Salvar</button>
						</form>
					</div>
				</div>
			</div>
		</div> -->



		<div class="table-responsive">

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Código</th>
						<th>Nome</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="autor : ${autores}">
						<td th:text="${autor.id}" style="white-space: nowrap"></td>
						<td th:text="${autor.nome}" style="white-space: nowrap;"></td>
						<td class="acoes" sec:authorize="hasRole('ROLE_ADMIN')">

							<div>
								<a class="btn btn-outline-primary btn-sm" id="editar"
									th:href="@{/autores/editar-autor/{id}(id=${autor.id})}">Editar</a>

								<a class="btn btn-outline-danger btn-sm" id="excluir"
									th:href="@{/autores/excluir-autor/{id}(id=${autor.id})}"
									th:data-confirm-delete="|Você gostaria de excluir o autor ${autor.nome}?|"
									th:onclick="if (!confirm(this.getAttribute('data-confirm-delete')))
													      return false">Excluir</a>

							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:if="${totalPages > 1}" style="background-color: #e3f2fd;">
			<div class="row justify-content-center">
				<div class="col-sm-10 text-center">
				<div>
					<span style="color: #000000; font-weight: bold; font-size: 16px;"
						th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
						th:if="${currentPage != i}"
						th:href="@{'/autores/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
				</div>
			</div>
		</div>
	  </div>
	</div>
</body>
</html>