<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<title>Novo Autor</title>

<link rel="stylesheet" th:href="@{/css/novo-livro.css}">

</head>
<body>

	<div class="container mt-5">

		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="voltar">
					<div
						th:insert="~{fragmentos/botao-voltar :: botaoVoltar('/autores/listar-autores')}"></div>
				</div>
				<div class="alert alert-success alert-dismissible fade show"
					id="mensagem-alteracao" th:if="${autorSalvoSucesso}">
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
					<span class="mensagem" th:text="${autorSalvoSucesso}"></span>
				</div>

				<div class="alert alert-danger alert-dismissible fade show"
					id="mensagem-alteracao" th:if="${livroDuplicado}">
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
					<span class="mensagem" th:text="${livroDuplicado}"></span>
				</div>

				<div class="card" id="card-titulo">
					<div class="card-body" id="card-body-titulo">
						<h2>Cadastro de Autores</h2>
					</div>
				</div>
				<div class="card" id="card-form">
					<div class="card-body" id="card-body-form">

						<form th:action="@{/autores/salvar-autor}" th:object="${autor}"
							method="post">
							
							<div class="mb-3">
							<label for="imagem" class="form-label">Nome</label>
							<input class="form-control" id="nome" name="nome" type="text"
								th:field="*{nome}" placeholder="Nome do autor"
								aria-label="default input example"> <span class="message"
									th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome
									inválido</span>
							</div>

							<button type="submit" id="botao-salvar">Salvar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>