@charset "ISO-8859-1";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	background-color:#7A8C97;
    font-family: sans-serif;
}


table {
    text-align: center;
    width: 100%;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}

table thead th {

    padding: 10px;
    font-size: 1em;
    font-weight: 600;
}

table tbody tr td {

    display: table-cell;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    position: relative;
}



table tbody tr td button {

    display: inline-block;
    padding: 10px 15px;
    position: initial;
    transform: translate(0);
    width: auto;
}

table tbody tr td a {

    background: #4CAF50;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
    color: #fff;
    font-weight: 700;;
    padding: 10px 0;
}

table thead {

    display: table-header-group;
    font-weight: 500;
}


table tbody tr td:before {

    display: none;
}

table tbody tr td button:hover, table tbody tr td button:focus {

    background: #a795fe;
    cursor: pointer;
}

@media all and (max-width: 500px) {

    table tbody tr td {

        display: block;
        text-align: right;
    }

    table tbody tr td:before {

        content: attr(data-title);
        position: absolute;
        left: 15px;
        display: block;
        font-weight: 600;
        font-size: 1em;
    }

    table {

        border: none;
    }

    table thead {

        display: none;
    }

    table tbody tr {

        margin-bottom: 10px;
        display: block;
        border: 1px solid #dad6eb;
    }
}

.principal{
	background-color: #4F6775;
	padding: 8px;
	text-align: center;
	border-radius: 8px;
	align-items: center;
	margin-top: 32px;
	margin-left: 32px;
	margin-right: 32px;
}

.titulo{
	background-color: white;
	padding: 8px;
	border-radius: 8px;
	margin-bottom: 8px;
}

#novo{
	margin-right: 4px;
	border: 0px;
	background-color: #5E8F43;
}
#editar{
	background-color: #4A508F;
	color: white;
}
#excluir{
	background-color: #3E505C;
	color: white;
}
#nav{
	text-align: center;
	display: flex;
	flex-direction: column;
}