@charset "UTF-8";

* {
	font-family: "Open Sans", sans-serif;
}

.voltar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 16px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sair {
    margin-left: auto;
    margin-bottom: 16px;
}

.container {
	max-width: 1600px;
}

.message {
	font-size: small;
	font-weight: bold;
	color: red;
}

.messageNomeInvalido {
	font-size: small;
	font-weight: bold;
	color: red;
}

#messageNomeInvalido {
	font-size: small;
	font-weight: bold;
	color: red;
}


#card-titulo {
	margin-bottom: 2px;
	color: #ffffff;
	text-align: center;
	background-color: #163b79;
}

#card-form, #card-titulo {
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
}

.message-success {
	color: green;
}

.message-error {
	color: red;
}

#card-body-titulo {
	padding: 8px;
}

#card-body-form {
	padding: 32px;
}

.form-label {
	font-weight: bold;
	color: #495057;
}

.input-group .form-control {
	width: 300px;
}

#botao-salvar {
	border-color: #007bff;
	display: block;
	width: 100%;
	padding: 0.5em;
	border: none;
	border-radius: 5px;
	background-color: #28a745;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-bottom: 10px;
	font-weight: bold;
}

#botao-salvar:hover {
	background-color: #218838;
}