<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

<link rel="stylesheet" th:href="@{/css/lista-de-livros.css}">

<title>Lista de livros</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid" id="nav">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" style="text-align: center;">
         <h1 style="color: #fff;">Gerenciamento de livros</h1>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="principal">
		<div class="titulo"
			style="display: flex; justify-content: space-between; align-items: center;">
			<div class="col-sm-4">
				<form th:action="@{/buscar}" method="post"
					style="margin-top: 8px; margin-bottom: 8px;">
					<div class="input-group">
						<input type="text" class="form-control" name="autor"
							placeholder="Busque um livro pelo autor"
							style="margin-right: 5px; border-radius: 5px;" />
						<button class="btn btn-outline-success" id="buscar" type="submit">Buscar</button>
					</div>
				</form>
			</div>
			<a th:href="@{/novo-livro}" id="novo" type="button"
				class="btn btn-primary" style="margin-left: auto;">Novo Livro</a>
		</div>

		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th>Código</th>
						<th>Título</th>
						<th>Autor</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="livro : ${livros}">
						<td id="td1" th:text="${livro.codigo}" style="white-space: nowrap"></td>
						<td id="td2" th:text="${livro.titulo}" style="white-space: nowrap;"></td>
						<td id="td3" th:text="${livro.autor}" style="white-space: nowrap;"></td>
						<td class="acoes" style="white-space: nowrap;">

							<div>
								<a class="btn" id="editar"
									th:href="@{/editar-livro/{codigo}(codigo=${livro.codigo})}">Editar</a>

								<a class="btn" id="excluir"
									th:href="@{/excluir-livro/{codigo}(codigo=${livro.codigo})}"
									th:data-confirm-delete="|Você gostaria de excluir o livro ${livro.titulo}?|"
									th:onclick="if (!confirm(this.getAttribute('data-confirm-delete')))
													      return false">Excluir</a>

							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:if="${totalPages > 1}" style="background-color: #79b6c9; border-radius: 5px;">
			<div class="row col-sm-10">
				<div class="col-sm-5"></div>
				<div class="col-sm-3">
					<span style="color: #000000"
						th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
						th:if="${currentPage != i}"
						th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>